## Airbnb in Europe: analysis

**01. Import Libraries**

**02. Data integration**
       
       2a. Importing the segmented city datasets
       2b. Concatenating the datasets

**03. Data quality check and data cleaning** 
       
       3a. Duplicates
       3b. Assessing missing values
       3c. Droping unnecessary columns 
       3d. Renaming columns
       3e. Converting data types
       3f. Additional cleaning
        
**04. Exporting the new dataframe**

## 01 Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

# 02. Data integration

**The data to be used is contained in 40 separed csv file, each one of them dedicated to one big european city in which Airbnb operates. Therefore, the first step has been to import and name each individual city dataframe, and add, to each of them a "country" and a "city" column. Additionally the prices that were not expressed in euros were transformed for these cities that required it (e.g. London, Copenhagen, Stockholm, etc). Once all this has been complited the different datasets have been concatenated in a single "df_europe" dataframe**

**02a. Importing the segmented city datasets**

In [2]:
#creating a path
path = r'C:\Users\amore\Documents\Data Analyst course\Data Immersion\Achievement 6 Advanced Analytics\Airbnb Europe Analysis'

In [3]:
#Importing the data for Amsterdam
df_ams=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_AMS.csv"), index_col=False)

In [4]:
#changing the display options 
pd.set_option('display.max_columns', 25)

In [5]:
#creating new columns for country and city 
df_ams['country']='Netherlands'

In [6]:
df_ams['city'] = 'Amsterdam'

In [7]:
#checking the dataset
df_ams.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,country,city
0,816940,Old South Lovely Garden Apartment,4290554,Joyce,NaN,Zuid,52.35323,4.85421,Entire home/apt,165,6,63,2022-11-28,0.54,1,11,2,03632A9BE56A736890D1,Netherlands,Amsterdam
1,528022,Somewhere Else,2594559,Els,NaN,Westerpark,52.39114,4.88846,Private room,100,2,248,2022-11-28,3.30,1,212,37,0363 9289 A94D 5C21 A579,Netherlands,Amsterdam
2,538723,Beautiful ground floor apartment,356740,Dimphy,NaN,Watergraafsmeer,52.35400,4.93965,Entire home/apt,140,5,57,2020-01-01,0.45,1,0,0,0363 D990 F92F DECF 88D4,Netherlands,Amsterdam
3,549310,Family Apartment with Garden,2699033,Barbara,NaN,De Baarsjes - Oud-West,52.37126,4.86241,Entire home/apt,200,2,54,2022-08-10,0.60,1,7,7,0363 35CD 76C9 04D4 1A21,Netherlands,Amsterdam
4,553514,"B&B WestergasTverblijf , Cosy!",618589,Mirjam,NaN,Westerpark,52.38444,4.86916,Entire home/apt,80,2,162,2020-02-16,1.34,1,1,0,0363 AD82 ADCF 17F3 C3EA,Netherlands,Amsterdam

In [8]:
#importing the Antwerpen dataset
df_ant=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_ANT.csv"), index_col=False)

In [9]:
df_ant['country'] = 'Belgium'

In [10]:
df_ant['city'] = 'Antwerpen'

In [11]:
#imporitng the Athens dataset
df_ath=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_ATH.csv"), index_col=False)

In [12]:
df_ath['country'] = 'Greece'

In [13]:
df_ath['city'] = 'Athens'

In [14]:
#importing the Barcelona data
df_bcn=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_BCN.csv"), index_col=False)

In [15]:
df_bcn['country']='Spain'

In [16]:
df_bcn['city'] = 'Barcelona'

In [17]:
#importing the Berlin data
df_ber=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_BER.csv"), index_col=False)

In [18]:
df_ber['country'] = 'Germany'

In [19]:
df_ber['city'] = 'Berlin'

In [20]:
#importing the Bologna data
df_bol=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_bol.csv"), index_col=False)

In [21]:
df_bol['country'] = 'Italy'

In [22]:
df_bol['city'] = 'Bologna'

In [23]:
#importing the Bordeaux data
df_bor=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_BOR.csv"), index_col=False)

In [24]:
df_bor['country'] = 'France'

In [25]:
df_bor['city'] = 'Bordeaux'

In [26]:
#importing the Bristol data
df_bri=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_BRI.csv"), index_col=False)

In [27]:
df_bri['country'] = 'United Kingdom'

In [28]:
df_bri['city'] = 'Bristol'

**It is necessary to change the "prize" column from pounds to euros. To do so the column "price" will first be renamed as "price_local", the values will be multiplied using the pound-euro exchange rate in decemeber (1.13) to update the "price" category**

In [29]:
df_bri['price_local']=df_bri['price']

In [30]:
df_bri['price'] = (df_bri['price_local']*1.13).round(0).astype(int)

In [31]:
#checking the changes
df_bri.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,country,city,price_local
0,70820,City View - Sarah's double room.,360195,Sarah,NaN,Windmill Hill,51.43994,-2.59173,Private room,46,3,179,2022-09-22,1.60,5,0,19,NaN,United Kingdom,Bristol,41
1,117122,City Centre-Waterside Retreat,591555,Marcus,NaN,Clifton,51.45051,-2.61054,Private room,108,1,172,2022-12-11,1.23,1,357,18,NaN,United Kingdom,Bristol,96
2,176306,The White Room - Central Bristol Art House Ga...,708175,Orla,NaN,Bedminster,51.44101,-2.60121,Private room,36,5,43,2022-11-23,0.35,1,33,4,NaN,United Kingdom,Bristol,32
3,307634,"'The Sunset Room' Peaceful, Clear Home",1582810,Wendy,NaN,Easton,51.46641,-2.55533,Private room,43,6,31,2022-11-29,0.46,3,169,7,NaN,United Kingdom,Bristol,38
4,341227,Listed Georgian house in the heart of Bristol.,237360,Samantha,NaN,Ashley,51.46661,-2.58709,Entire home/apt,750,2,109,2022-10-02,0.84,1,89,11,NaN,United Kingdom,Bristol,664

In [32]:
#importing the Brussels data
df_bru=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_BRU.csv"), index_col=False)

In [33]:
df_bru['country'] = 'Belgium'

In [34]:
df_bru['city'] = 'Brussels'

In [35]:
#importing the Copenhagen data
df_cop=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_COP.csv"), index_col=False)

In [36]:
df_cop['country'] = 'Denmark'

In [37]:
df_cop['city'] = 'Copenhagen'

In [38]:
#converting the currency (exchange rate 0.13)
df_cop['price_local'] = df_cop['price']

In [39]:
df_cop['price'] = (df_cop['price_local']*0.13).round(0).astype(int)

In [40]:
#checking the results
df_cop.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,country,city,price_local
0,6983,Copenhagen 'N Livin',16774,Simon,NaN,Nrrebro,55.68641,12.54741,Entire home/apt,106,3,172,2022-06-21,1.06,1,35,4,NaN,Denmark,Copenhagen,813
1,26057,Lovely house - most attractive area,109777,Kari,NaN,Indre By,55.69307,12.57649,Entire home/apt,338,4,59,2022-08-09,0.53,1,196,4,NaN,Denmark,Copenhagen,2600
2,26473,City Centre Townhouse Sleeps 1-10 persons,112210,Julia,NaN,Indre By,55.67602,12.57540,Entire home/apt,378,3,311,2022-12-13,2.09,8,91,18,NaN,Denmark,Copenhagen,2907
3,443684,"Penthouse, 4-5 rooms + 5 balconies",2204282,Sidsel,NaN,Nrrebro,55.70238,12.54765,Entire home/apt,421,2,436,2022-11-06,3.39,1,128,5,NaN,Denmark,Copenhagen,3240
4,678372,Christianshavn Central Copenhagen,3343139,Tue,NaN,Indre By,55.67112,12.59165,Entire home/apt,208,3,44,2022-08-26,0.36,1,31,5,NaN,Denmark,Copenhagen,1600

In [41]:
#importing the Dublin data
df_dub=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_DUB.csv"), index_col=False)

In [42]:
df_dub['country'] = 'Ireland'

In [43]:
df_dub['city'] = 'Dublin'

In [44]:
# Importing the Edinburgh data
df_edi=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_EDI.csv"), index_col=False)

In [45]:
df_edi['country'] = 'United Kingdom'

In [46]:
df_edi['city'] = 'Edinburgh'

In [47]:
# converting the currency (exchange rate 1.13)
df_edi['price_local'] = df_edi['price']

In [48]:
df_edi['price'] = (df_edi['price_local']*1.13).round(0).astype(int)

In [49]:
# importing the Florence data
df_flo=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_FLO.csv"), index_col=False)

In [50]:
df_flo['country'] = 'Italy'

In [51]:
df_flo['city'] = 'Florence'

In [52]:
#Importing the Geneva data, given that the exchange rate CHF-EUR is 1, there is no need to transform the currency
df_gen=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_GEN.csv"), index_col=False)

In [53]:
df_gen['country'] = 'Switzerland'

In [54]:
df_gen['city'] = 'Geneva'

In [55]:
#Importing the Ghent data
df_ghn=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_GHN.csv"), index_col=False)

In [56]:
df_ghn['country'] = 'Belgium'

In [57]:
df_ghn['city'] = 'Ghent'

In [58]:
#importing the Istanbul data
df_ist=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_IST.csv"), index_col=False)

In [59]:
df_ist['country'] = 'Turkey'

In [60]:
df_ist['city'] = 'Istanbul'

In [61]:
#converting the currency (exchange rate 0.05)
df_ist['price_local'] = df_ist['price']

In [62]:
df_ist['price'] = (df_ist['price_local']*0.05).round(0).astype(int)

In [63]:
df_ist.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,country,city,price_local
0,247874,"Istiklal Avenue,Sadri alisik street",1298849,Berkan,NaN,Beyoglu,41.03333,28.98030,Entire home/apt,29,2,197,2022-11-29,1.50,1,39,26,NaN,Turkey,Istanbul,588
1,618156,"Sultanahmet-Istanbul, Adalar Suite",2999837,Saban,NaN,Fatih,41.00417,28.96604,Entire home/apt,44,1,89,2022-11-06,0.72,13,354,17,NaN,Turkey,Istanbul,879
2,253055,CIHANGIR | Stunning Bosphorus View!,852380,Ilker,NaN,Beyoglu,41.03375,28.98324,Entire home/apt,157,3,86,2022-11-20,0.64,5,319,15,NaN,Turkey,Istanbul,3139
3,620129,Unique Concept in the Old City (Studio 1),3072862,Levent,NaN,Fatih,41.00456,28.97980,Private room,216,1,17,2022-04-30,0.14,5,306,2,NaN,Turkey,Istanbul,4315
4,27271,Lovely apartment in perfect location,117026,Mutlu,NaN,Beyoglu,41.03254,28.98153,Entire home/apt,50,10,4,2022-11-01,0.04,1,272,2,NaN,Turkey,Istanbul,999

In [64]:
#importing the Lisboa data
df_lis=pd.read_csv(os.path.join(path, '02 Data','Original data',"listings_LIS.csv"), index_col=False)

In [65]:
df_lis['country'] = 'Portugal'

In [66]:
df_lis['city'] = 'Lisboa'

In [67]:
#importing the London data
df_lon=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_LON.csv"), index_col=False)

In [68]:
df_lon['country'] = 'United Kingdom'

In [69]:
df_lon['city'] = 'London'

In [70]:
# converting the currency (exchange rate 1.13)
df_lon['price_local']=df_lon['price']

In [71]:
df_lon['price'] = (df_lon['price_local'] * 1.13).round(0).astype(int)

In [72]:
#There is a problem with the 'last_review' column in the london dataframe, i'll be dropping the column
df_lon_clean = df_lon.drop(columns=['last_review'])

In [73]:
#importing the Lyon data
df_lyo=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_LYO.csv"), index_col=False)

In [74]:
df_lyo['country'] = 'France'

In [75]:
df_lyo['city'] = 'Lyon'

In [76]:
#importing the Madrid data
df_mad=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_MAD.csv"), index_col=False)

In [77]:
df_mad['country'] = 'Spain'

In [78]:
df_mad['city'] = 'Madrid'

In [79]:
#Importing the Malaga data
df_mal=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_MAL.csv"), index_col=False)

In [80]:
df_mal['country'] = 'Spain'

In [81]:
df_mal['city'] = 'Malaga'

In [82]:
# Importing the Milan data
df_mil=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_MIL.csv"), index_col=False)

In [83]:
df_mil['country'] = 'Italy'

In [84]:
df_mil['city'] = 'Milan'

In [85]:
#Importing the Munich data
df_mun=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_MUN.csv"), index_col=False)

In [86]:
df_mun['country'] = 'Germany'

In [87]:
df_mun['city'] = 'Munich'

In [88]:
#Importing the Naples data
df_nap=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_NAP.csv"), index_col=False)

In [89]:
df_nap['country'] = 'Italy'

In [90]:
df_nap['city'] = 'Naples'

In [91]:
#importing the Oslo data
df_osl=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_OSL.csv"), index_col=False)

In [92]:
df_osl['country'] = 'Norway'

In [93]:
df_osl['city'] = 'Oslo'

In [94]:
#Converting the currency (exchange rate 0.09)
df_osl['price_local'] = df_osl['price']

In [95]:
df_osl['price'] = (df_osl['price_local'] * 0.09).round(0).astype(int)

In [96]:
#importing the Paris data
df_par=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_PAR.csv"), index_col=False)

In [97]:
df_par['country'] = 'France'

In [98]:
df_par['city'] = 'Paris'

In [99]:
#importing the Porto data
df_por=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_por.csv"), index_col=False)

In [100]:
df_por['country'] = 'Portugal'

In [101]:
df_por['city'] = 'Porto'

In [102]:
#importing the Prague data
df_pra=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_PRA.csv"), index_col=False)

In [103]:
df_pra['country'] = 'Czechia'

In [104]:
df_pra['city'] = 'Prague'

In [105]:
#converting the currency (exchnage rate 0.043)
df_pra['price_local'] = df_pra['price']

In [106]:
df_pra['price'] = (df_pra['price_local']*0.043).round(0).astype(int)

In [107]:
#importing the Riga data
df_rig=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_RIG.csv"), index_col=False)

In [108]:
df_rig['country'] = 'Latvia'

In [109]:
df_rig['city'] = 'Riga'

In [110]:
#importing the Rome data
df_rom=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_ROM.csv"), index_col=False)

In [111]:
df_rom['country'] = 'italy'

In [112]:
df_rom['city'] = 'Rome'

In [113]:
#importing the Rotterdam data
df_rot=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_ROT.csv"), index_col=False)

In [114]:
df_rot['country'] = 'Netherlands'

In [115]:
df_rot['city'] = 'Rotterdam'

In [116]:
#importing the Sevilla data
df_sev=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_SEV.csv"), index_col=False)

In [117]:
df_sev['country'] = 'Spain'

In [118]:
df_sev['city'] = 'Sevilla'

In [119]:
#importing the Stockholm data
df_sto=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_STO.csv"), index_col=False)

In [120]:
df_sto['country'] = 'Sweden'

In [121]:
df_sto['city'] = 'Stockholm'

In [122]:
#converting the currency (exchange rate 0.09)
df_sto['price_local'] = df_sto['price']

In [123]:
df_sto['price'] = (df_sto['price_local']*0.09).round(0).astype(int)

In [124]:
df_sto.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,country,city,price_local
0,75590,Amazing nature location by a lake,397766,Peter,NaN,Skarpnäcks,59.30117,18.12833,Entire home/apt,85,30,10,2016-07-08,0.09,1,178,0,NaN,Sweden,Stockholm,949
1,164448,Double room in central Stockholm with Wi-Fi,784312,Li,NaN,Södermalms,59.31389,18.06087,Private room,78,3,355,2022-11-27,2.55,2,177,33,NaN,Sweden,Stockholm,864
2,170651,Petit Charm Rooftop next to heaven,814021,Marie,NaN,Södermalms,59.31702,18.02946,Entire home/apt,95,4,42,2022-10-02,0.30,1,248,3,NaN,Sweden,Stockholm,1055
3,206221,Doubleroom at Södermalm &trendySofo,1022374,Elisabeth,NaN,Södermalms,59.31074,18.08128,Shared room,60,3,79,2019-12-08,0.59,1,360,0,NaN,Sweden,Stockholm,669
4,208366,Central apt. in Sofo .Perfect 4 Families & Kids,993889,Bartholomew Lion,NaN,Södermalms,59.30903,18.08032,Entire home/apt,75,3,41,2021-12-20,0.32,1,4,0,NaN,Sweden,Stockholm,829

In [125]:
#importing the Thessaloniki data
df_tes=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_TES.csv"), index_col=False)

In [126]:
df_tes['country'] = 'Greece'

In [127]:
df_tes['city'] = 'Thessaloniki'

In [128]:
#importing the The Hague data
df_thg=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_THG.csv"), index_col=False)

In [129]:
df_thg['country'] = 'Netherlands'

In [130]:
df_thg['city'] = 'The Hague'

In [131]:
# importing the Venice data
df_ven=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_VEN.csv"), index_col=False)

In [132]:
df_ven['country'] = 'Italy'

In [133]:
df_ven['city'] = 'Venice'

In [134]:
#Importing the Vienna data
df_vie=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_VIE.csv"), index_col=False)

In [135]:
df_vie['country'] = 'Austria'

In [136]:
df_vie['city'] = 'Vienna'

In [137]:
#importing the Valencia data
df_vlc=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_VLC.csv"), index_col=False)

In [138]:
df_vlc['country'] = 'Spain'

In [139]:
df_vlc['city'] = 'Valencia'

In [140]:
#importing the Zurich data
df_zur=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_ZUR.csv"), index_col=False)

In [141]:
df_zur['country'] = 'Switzerland'

In [142]:
df_zur['city'] = 'Zurich'

In [143]:
#importing the bergamo data
df_berg=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_berg.csv"), index_col=False)

In [144]:
df_berg['country'] = 'Italy'

In [145]:
df_berg['city'] = 'Bergamo'

In [146]:
#importing the Crete data
df_cre=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_cre.csv"), index_col=False)

In [147]:
df_cre['country'] = 'Greece'

In [148]:
df_cre['city'] = 'Crete'

In [149]:
#importing the Euskadi data
df_eus=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_eus.csv"), index_col=False)

In [150]:
df_eus['country'] = 'Spain'

In [151]:
df_eus['city'] = 'Euskadi'

In [152]:
#importing the Girona data
df_gir=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_gir.csv"), index_col=False)

In [153]:
df_gir['country'] = 'Spain'

In [154]:
df_gir['city'] = 'Girona'

In [155]:
#importing the Manchester data
df_man=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_man.csv"), index_col=False)

In [156]:
df_man['country'] = 'United Kingdom'

In [157]:
df_man['city'] = 'Manchester'

In [158]:
df_man['price_local'] = df_man['price']

In [159]:
df_man['price'] = (df_man['price_local']*1.13).round(0).astype(int)

In [160]:
#importing the Mallorca data
df_mll=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_mll.csv"), index_col=False)

In [161]:
df_mll['country'] = 'Spain'

In [162]:
df_mll['city'] = 'Mallorca'

In [163]:
#importing the Menorca data
df_men=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_men.csv"), index_col=False)

In [164]:
df_men['country'] = 'Spain'

In [165]:
df_men['city'] = 'Menorca'

In [166]:
#importing the Pays Basque data
df_pba=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_pba.csv"), index_col=False)

In [167]:
df_pba['country'] = 'France'

In [168]:
df_pba['city'] = 'Pays Basque'

In [169]:
#importing the Puglia data
df_pug=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_pug.csv"), index_col=False)

In [170]:
df_pug['country'] = 'Italy'

In [171]:
df_pug['city'] = 'Puglia'

In [172]:
#importing the Sicily data
df_sic=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_sic.csv"), index_col=False)

In [173]:
df_sic['country'] = 'Italy'

In [174]:
df_sic['city'] = 'Sicily'

In [175]:
#importing the South Aegea n data
df_sag=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_sag.csv"), index_col=False)

In [176]:
df_sag['country'] = 'Greece'

In [177]:
df_sag['city'] = 'South Aegean'

In [178]:
#importing the Manchester data
df_tre=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_tre.csv"), index_col=False)

In [179]:
df_tre['country'] = 'Italy'

In [180]:
df_tre['city'] = 'Trentino'

In [181]:
#importing the Manchester data
df_vau=pd.read_csv(os.path.join(path, '02 Data','Original Data',"listings_vau.csv"), index_col=False)

In [182]:
df_vau['country'] = 'Switzerland'

In [183]:
df_vau['city'] = 'Vaud'

**2b. Concatenating the city dataframes**

In [184]:
# uniting all the dataframes into a single "df_europe" dataframe
frames = [df_ams, df_ant, df_ath, df_bcn, df_ber, df_bol, df_bor, df_bri, df_bru, df_cop, df_dub, df_edi, df_flo, df_gen, df_ghn, df_ist, df_lis, df_lon_clean, df_lyo, df_mad, df_mal, df_mil, df_mun, df_nap, df_osl, df_par, df_por, df_pra, df_rig, df_rom, df_rot, df_sev, df_sto, df_tes, df_thg, df_ven, df_vie, df_vlc, df_zur,df_berg, df_cre, df_eus, df_gir, df_man, df_mll, df_men, df_pba, df_pug, df_sic, df_sag, df_tre,df_vau]
df_europe = pd.concat(frames)

## 03. Data quality check and data cleaning

In [185]:
#preliminary queries
df_europe.shape

(683490, 21)

In [186]:
df_europe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683490 entries, 0 to 4981
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              683490 non-null  int64
 1   name                            683307 non-null  object
 2   host_id                         683490 non-null  int64
 3   host_name                       683303 non-null  object
 4   neighbourhood_group             185770 non-null  object
 5   neighbourhood                   683490 non-null  object
 6   latitude                        683490 non-null  float64
 7   longitude                       683490 non-null  float64
 8   room_type                       683490 non-null  object
 9   price                           683490 non-null  int64
 10  minimum_nights                  683490 non-null  int64
 11  number_of_reviews               683490 non-null  int64
 12  last_review                     484936 non-null  object
 13  reviews_per_month               539751 non-null  float64
 14  calculated_host_listings_count  683490 non-null  int64
 15  availability_365                683490 non-null  int64
 16  number_of_reviews_ltm           683490 non-null  int64
 17  license                         251257 non-null  object
 18  country                         683490 non-null  object
 19  city                            683490 non-null  object
 20  price_local                     153828 non-null  float64
dtypes: float64(4), int64(8), object(9)
memory usage: 114.7+ MB

In [187]:
df_europe.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,price_local
count,6.834900e+05,6.834900e+05,683490.000000,683490.000000,683490.000000,683490.000000,683490.000000,539751.000000,683490.000000,683490.000000,683490.000000,1.538280e+05
mean,1.760459e+17,1.542534e+08,44.325545,8.611037,226.060427,14.330435,28.508413,1.097590,16.296528,177.934024,8.376200,1.156020e+03
std,2.974760e+17,1.533737e+08,5.923721,10.351780,1469.276134,63.663856,61.085346,1.453219,60.918366,141.836200,16.345756,1.439684e+04
min,2.352000e+03,2.750000e+02,34.834420,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,0.000000e+00
25%,2.008656e+07,2.371202e+07,39.857973,-0.087400,60.000000,1.000000,1.000000,0.190000,1.000000,16.000000,0.000000,9.100000e+01
50%,3.926198e+07,9.478181e+07,41.967525,8.543750,95.000000,2.000000,6.000000,0.570000,2.000000,177.000000,2.000000,2.670000e+02
75%,5.613984e+17,2.581546e+08,48.882710,15.110298,158.000000,4.000000,26.000000,1.450000,7.000000,332.000000,9.000000,1.100000e+03
max,8.192776e+17,4.993252e+08,60.038940,29.908120,100200.000000,6666.000000,2402.000000,106.740000,1062.000000,366.000000,1352.000000,1.871235e+06

**3a. Removing Duplicates**

In [188]:
#checking for duplicates
df_dups = df_europe[df_europe.duplicated()]

In [189]:
df_dups

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, country, city, price_local]
Index: []

**No duplicates have been found in the dataframe**

In [190]:
# Additionally I'm also checking that there are not duplicates in the "id" category, as it should function as a primary key
df_dups_id = df_europe.duplicated(['id'])

In [191]:
num_duplicates = df_dups_id.sum

In [192]:
num_duplicates()

0

**There are no duplicates in the "id" column**

**3b. Assessing missing values**

In [193]:
df_europe.isnull().sum()

id                                     0
name                                 183
host_id                                0
host_name                            187
neighbourhood_group               497720
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                       198554
reviews_per_month                 143739
calculated_host_listings_count         0
availability_365                       0
number_of_reviews_ltm                  0
license                           432233
country                                0
city                                   0
price_local                       529662
dtype: int64

**Most of the missing values are in columns that will be removed, such as neigbourhood group, license, or price_local, as for the rest of missing values they should not hinder the realization of any analysis so I'll be leaving them**

**3c. Droping unnecessary columns**

In [194]:
# I'll be droping the columns name, host_name, neigbourhood group, license and price_local as they are not necessary for the analysis.
df_europe_clean = df_europe.drop(columns =['name', 'host_name','neighbourhood_group','license', 'price_local'])

In [195]:
#checking the results 
df_europe_clean.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,country,city
0,816940,4290554,Zuid,52.35323,4.85421,Entire home/apt,165,6,63,2022-11-28,0.54,1,11,2,Netherlands,Amsterdam
1,528022,2594559,Westerpark,52.39114,4.88846,Private room,100,2,248,2022-11-28,3.30,1,212,37,Netherlands,Amsterdam
2,538723,356740,Watergraafsmeer,52.35400,4.93965,Entire home/apt,140,5,57,2020-01-01,0.45,1,0,0,Netherlands,Amsterdam
3,549310,2699033,De Baarsjes - Oud-West,52.37126,4.86241,Entire home/apt,200,2,54,2022-08-10,0.60,1,7,7,Netherlands,Amsterdam
4,553514,618589,Westerpark,52.38444,4.86916,Entire home/apt,80,2,162,2020-02-16,1.34,1,1,0,Netherlands,Amsterdam

**3d. Renaming columns**

In [196]:
#renaming the "id" column to "listing_id"
df_europe_clean.rename(columns= {'id':'listing_id'}, inplace = True)

In [197]:
df_europe_clean.head()

,listing_id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,country,city
0,816940,4290554,Zuid,52.35323,4.85421,Entire home/apt,165,6,63,2022-11-28,0.54,1,11,2,Netherlands,Amsterdam
1,528022,2594559,Westerpark,52.39114,4.88846,Private room,100,2,248,2022-11-28,3.30,1,212,37,Netherlands,Amsterdam
2,538723,356740,Watergraafsmeer,52.35400,4.93965,Entire home/apt,140,5,57,2020-01-01,0.45,1,0,0,Netherlands,Amsterdam
3,549310,2699033,De Baarsjes - Oud-West,52.37126,4.86241,Entire home/apt,200,2,54,2022-08-10,0.60,1,7,7,Netherlands,Amsterdam
4,553514,618589,Westerpark,52.38444,4.86916,Entire home/apt,80,2,162,2020-02-16,1.34,1,1,0,Netherlands,Amsterdam

**3e. Converting data types**

In [198]:
# Checking for mixed-type data in df_europe_clean
for col in df_europe_clean.columns.tolist():
  weird = (df_europe_clean[[col]].applymap(type) != df_europe_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_europe_clean[weird]) > 0:
    print (col, ' mixed')
  else: print(col, ' consistent')

listing_id  consistent
host_id  consistent
neighbourhood  consistent
latitude  consistent
longitude  consistent
room_type  consistent
price  consistent
minimum_nights  consistent
number_of_reviews  consistent
last_review  mixed
reviews_per_month  consistent
calculated_host_listings_count  consistent
availability_365  consistent
number_of_reviews_ltm  consistent
country  consistent
city  consistent

In [199]:
#changing the last_review column to datetime64 and labeling as NaN all the rows that do not conform to a date format
df_europe_clean['last_review'] = pd.to_datetime(df_europe_clean['last_review'], errors='coerce')

**3f. Additional data cleaning**

In [200]:
df_europe_clean.describe()

,listing_id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,6.834900e+05,6.834900e+05,683490.000000,683490.000000,683490.000000,683490.000000,683490.000000,539751.000000,683490.000000,683490.000000,683490.000000
mean,1.760459e+17,1.542534e+08,44.325545,8.611037,226.060427,14.330435,28.508413,1.097590,16.296528,177.934024,8.376200
std,2.974760e+17,1.533737e+08,5.923721,10.351780,1469.276134,63.663856,61.085346,1.453219,60.918366,141.836200,16.345756
min,2.352000e+03,2.750000e+02,34.834420,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.008656e+07,2.371202e+07,39.857973,-0.087400,60.000000,1.000000,1.000000,0.190000,1.000000,16.000000,0.000000
50%,3.926198e+07,9.478181e+07,41.967525,8.543750,95.000000,2.000000,6.000000,0.570000,2.000000,177.000000,2.000000
75%,5.613984e+17,2.581546e+08,48.882710,15.110298,158.000000,4.000000,26.000000,1.450000,7.000000,332.000000,9.000000
max,8.192776e+17,4.993252e+08,60.038940,29.908120,100200.000000,6666.000000,2402.000000,106.740000,1062.000000,366.000000,1352.000000

In [201]:
df_europe_clean.shape

(683490, 16)

**The describe shows some strange values in the price category: there are extremely expensive listings (100200 euros) and other that are to cheap (0 euros). We'll drop all the values that are 0, as they can be understood as mistakes and all the values above 1.000 euros per night, as they can be considered as high luxury establishemnts, are we are interested above all in analyizing the bulk of the airbnb listings, without these being distorted by the most luxurious accomodations**

In [202]:
#droping rows with prices per night above 1.000 euros
df_europe_clean_2 = df_europe_clean[df_europe_clean['price']<=1000]

In [203]:
df_europe_clean_2.shape

(671044, 16)

**935 rows with price values above 10.000 euros per night have been eliminated**

In [204]:
df_europe_clean_2[df_europe_clean_2['price']==0]

,listing_id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,country,city
4074,42430386,308694260,Bos en Lommer,52.383220,4.846250,Hotel room,0,1,0,NaT,NaN,2,0,0,Netherlands,Amsterdam
4089,42431273,309119467,De Baarsjes - Oud-West,52.362790,4.874580,Hotel room,0,1,0,NaT,NaN,1,0,0,Netherlands,Amsterdam
4097,42431450,311321908,Centrum-West,52.369640,4.880040,Hotel room,0,1,68,2022-12-01,2.72,4,0,62,Netherlands,Amsterdam
4336,43095925,311323273,Centrum-Oost,52.365310,4.885780,Hotel room,0,1,0,NaT,NaN,1,0,0,Netherlands,Amsterdam
4342,43148414,318649852,Centrum-Oost,52.370360,4.905740,Hotel room,0,1,0,NaT,NaN,1,0,0,Netherlands,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1147,46326518,374971781,City,47.371776,8.534252,Hotel room,0,1,40,2022-11-20,1.72,1,0,23,Switzerland,Zurich
11718,47015570,380068382,Vall-llobrega,41.885444,3.126770,Hotel room,0,1,4,2022-06-14,0.23,1,0,3,Spain,Girona
9515,42384657,270236083,Palma de Mallorca,39.569520,2.645160,Hotel room,0,1,0,NaT,NaN,1,0,0,Spain,Mallorca
6325,43561460,347743316,Biarritz,43.482250,-1.554380,Hotel room,0,1,20,2022-07-20,0.67,1,0,2,France,Pays Basque
7270,46631065,376943790,Bayonne,43.496356,-1.483817,Hotel room,0,1,10,2022-08-15,0.42,1,0,1,France,Pays Basque

In [205]:
# droping the rows with a night price of 0
df_europe_clean_def = df_europe_clean_2[df_europe_clean_2['price']>0]

In [206]:
df_europe_clean_def.shape

(670939, 16)

## 04. Exporting the new dataframe

In [207]:
df_europe_clean_def.to_pickle(os.path.join(path, '02 Data','Prepared Data','airbnb_europe_clean_max.pkl'))

In [208]:
df_europe_clean_def.to_csv(os.path.join(path, '02 Data','Prepared Data','airbnb_europe_clean_max.csv'),index=False)